doctype html  
html(lang='en')  
 head
  link(rel='stylesheet', href='sass/style.css')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Courses
 body
    div.wrapper
        main.page
            div.page__container
                div.page__title Find Your Course
                div.page__body
                    include components/sidebar/sidebar.pug 
                    include components/content/content.pug